# Arquivos do Python
*.pyc
__pycache__/

# Virtual environments
env/
venv/

# Configurações locais
*.env

# IDEs/Editor de código
.vscode/
.idea/

# Arquivos do sistema operacional
.DS_Store
Thumbs.db
